
.releasedate{
    margin-bottom: 10px;
}
.rating{
    padding-left: 40px;
}
.cardbtn{
margin-bottom: 5px;
}

.cardTitle{
    font-size: 1.2em;
}
.card-panel{
    width: 350px;
    margin: auto;
    margin-top: 15px;
}