<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <span th:include="includes :: css"></span>
    <title>Title</title>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
<div class="container">
    <div class="navbar-header ">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/movie">Movie Review</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Add new movie
                </button>
            </li>
        </ul>
    </div>
</div>

    </nav>
</header>
<main>
    <div class="container">
        <div class="jumbotron">
            <h1>Movie Review</h1>
            <p>Movies...that's all we talk about here</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Add new movie
            </button>
        </div>

        <div class="row">

            <div class="col-md-3" th:each="movie : ${movie}">
                <div class="thumbnail">

                    <a th:href="'/movie/' + @{${movie.id}}" ><img th:src="${movie.imgurl}" alt="${movie.title}"/></a>
                    <div class="caption">
                        <a th:href="'/movie/' + @{${movie.id}}" ><h3 th:text="${movie.title}"></h3></a>
                        <p th:text="${movie.releasedate}"></p>
                        <hr/>
                        <button class="btn btn-default">
                            <!--Opens a new window-->
                            <a th:href="@{${movie.linkimdb}}" target="_blank">IMDb</a>
                        </button>
                        <button class="pull-right btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-star-empty"></span> <span class="  badge">4</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>





    <div th:include="includes :: modalMovie"></div>


    </div>
</main>

<span th:include="includes :: js"></span>


</body>
</html>