<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: head">

</head>
<body class="black">
<main>
    <header th:include="includes :: navbar"></header>

    <div class="container">
            <h1 class="white-text">Movie Review</h1>
            <p class="white-text">Movies...that's all we talk about here</p>
            <div class="divider"></div>
            <!-- Button trigger modal -->


        <div class="row">

            <div class="col m6" th:each="movie : ${movie}">
                <div class="card horizontal hoverable">
                    <div class="card-image">
                        <a th:href="'/movie/' + @{${movie.id}}" ><img th:src="${movie.imgurl}" alt="${movie.title}"/></a>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4  ><a class="red-text"  th:href="'/movie/' + @{${movie.id}}" th:text="${movie.title}"></a></h4>
                            <p th:text="${movie.releasedate}"></p>
                        </div>
                        <div class="card-action">
                                <div class="row">
                                    <div class="col m6 s12">
                                        <a th:href="'/movie/' + @{${movie.id}}" class=" waves-effect waves-light btn red amber-text" >Reviews</a>

                                    </div>
                                        <div class="col m6 s12">
                                            <a class=" waves-effect waves-light btn red amber-text"  th:href="@{${movie.linkimdb}}" target="_blank">
                                                IMDb
                                            </a>
                                        </div>



                                </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>
<div th:include="includes :: footer"></div>
    <div th:include="includes :: modalMovie"></div>





<span th:include="includes :: js"></span>


</body>
</html>