<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: head">

</head>
<body class="black ">
<div th:include="includes :: navbar"></div>
<main>

    <div class="container ">


                <div class="card-panel center-align red ">
                    <h1 class="center-align amber-text">LOGIN</h1>
                    <div class="card medium z-depth-5 valign-wrapper">
                        <div class="card-content">

                            <div style="color: red;" th:text="${error}"></div>

                            <form th:action="@{/login}" th:object="${user}" method="post">
                                <input type="text" th:field="*{username}" placeholder="Username"/>
                                <input type="password" th:field="*{password}" placeholder="Password"/>
                                <div class="row">
                                    <div class="col s6 left-align">
                                        <button class="waves-effect waves-light amber btn black-text" type="submit" >Login</button>
                                    </div>
                                    <div class="col s6 right-align">
                                        <button class="waves-effect waves-light red btn  modal-trigger red" data-target="createUser" type="button" >Sign Up</button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>




    </div>
</main>

<div th:include="includes :: createUserModal"></div>

<span th:include="includes :: js"></span>


</body>
</html>