<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: head">

</head>
<body class="black">
<header th:include="includes :: navbar"></header>
<main >
    <div class="container">
        <div class="row">

        </div>


        <div class="row">

            <div class="col m3">
                <div class="card">
                    <div class="card-image">
                        <a th:href="@{${movie.linkimdb}}" target="_blank">
                            <img class="media-object" th:src="${movie.imgurl}" alt="${movie.title}"/>
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="section">
                            <h5>Release Date</h5>
                            <span class="releasedate" th:text="${movie.releasedate}"></span>
                        </div>

                        <div class="divider"></div>
                        <div class="section">
                            <h5>Genre</h5>
                            <span th:text="${movie.genre}"></span>

                        </div>
                        <button class="waves-effect waves-light btn modal-trigger red amber-text" data-target="myEditModal">Edit Movie</button>
                    </div>
                </div>
            </div>
            <div class="col m9">
                <h1>
                    <a class="amber-text" th:href="@{${movie.linkimdb}}" target="_blank" th:text="${movie.title}"></a>
                </h1>
                <div class="card">
                    <div class="card-content">
                        <span class="card-title red-text">Add Review</span>
                        <div class="row">
                            <form th:action="'/movie/' + ${movie.id} + '/createReview'" method="post">
                                <div class="row">
                                    <div class="input-field col m5">
                                        <p class="range-field">Rate: Lowest 0 Highest 5
                                            <input type="range" name="movierating" id="movierating" min="0" max="5" />
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field">
                                        <i class="material-icons prefix">mode_edit</i>
                                        <textarea id="reviewMessage" class="materialize-textarea" name="message"></textarea>
                                        <label for="reviewMessage">Add a review</label>
                                    </div>
                                </div>
                                <button type="submit" class="right waves-effect waves-light btn red amber-text">Add Review</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <h3>Comments</h3>
                <div class="divider"></div>
                <table class="bordered">
                    <thead>
                    <th>User</th>
                    <th>Comment</th>
                    <th>Rating</th>
                    </thead>
                    <tbody>
                    <tr th:each="review : ${review}">

                        <td th:text="${review.user.username}">
                        </td>

                        <td th:text="${review.message}"></td>
                        <td th:text="${review.movierating}"></td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>
</main>
<div th:include="includes :: footer"></div>

<div th:include="includes :: modalMovie"></div>

<div th:include="includes :: editModal"></div>

<span th:include="includes :: js"></span>
</body>
</html>