<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>

    <title>Movie Detail</title>
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/movie">Movie Review</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        Add new movie
                    </button>
                </li>
            </ul>
        </div>


    </nav>
</header>
<div class="container">
    <div class="page-header">
        <h1>
            <a th:href="@{${movie.linkimdb}}" target="_blank" th:text="${movie.title}"></a>


        </h1>
    </div>
    <div class="row">

            <div class="col-md-3">
                <a th:href="@{${movie.linkimdb}}" target="_blank">
                    <img class="media-object" th:src="${movie.imgurl}" alt="${movie.title}"/>
                </a>
                <div>
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <span th:text="${movie.releasedate}"></span>
                </div>
                <div>
                    <span class="glyphicon glyphicon-film"></span>
                    <span th:text="${movie.genre}"></span>
                </div>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myEditModal">
                    <span class="glyphicon glyphicon-pencil"></span>  Edit Movie
                </button>
            </div>
            <div class="col-md-9">
                <form th:action="'/movie/' + ${movie.id} + '/createReview'" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="reviewername" placeholder="Reviewer Name"/>
                    </div>
                    <div class="text-left form-group col-6">
                        <input type="number" class="form-control" name="movierating" min="1" max="5" placeholder="Rate: Lowest 1 Highest 5"/>
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" name="message" rows="3" placeholder="Add a review"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="revieweroccupation" placeholder="Reviewer Occupation"/>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" name="reviewerage" placeholder="Reviewer Age"/>
                        </div>
                        <div class="text-right form-group col-md-4">
                            Gender:
                            <label class="radio-inline">
                                <input type="radio" id="male" name="reviewergender" value="M"/> Male

                            </label>

                            <label class="radio-inline">
                                <input type="radio" id="female" name="reviewergender" value="F"/>
                                Female</label>


                        </div>
                        <div class="pull-right col-md-4 text-right">
                            <button type="submit" class="btn btn-default">Add Review</button>
                        </div>
                    </div>
                </form>
                <hr/>
                <div class="container-fluid">
                    <div class="panel panel-default" th:each="review : ${movie.reviews}">
                        <div class="row pandel-heading">
                            <div class="col-md-3">
                                <h1  th:text="${review.reviewername}"></h1>
                            </div>
                            <div class="col-md-3">
                                <h4 th:text="${review.reviewerage}"></h4>
                            </div>
                            <div class="col-md-3">
                                <h4 th:text="${review.reviewergender}"> </h4>

                            </div>
                            <div class="col-md-3">
                                <h4 th:text="${review.revieweroccupation}"></h4>

                            </div>
                        </div>
                        <hr/>
                        <h4 class="panel-body" th:text="${review.message}"></h4>

                    </div>
                </div>
            </div>

    </div>

    <div th:include="includes :: modalMovie"></div>

    <div th:include="includes :: editModal"></div>



</div>


<span th:include="includes :: js"></span>
</body>
</html>